
<footer class="footer has-background-black has-text-white">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <img
              class="image is-16x16 is-inline"
              src="/images/logo-icon-white.svg"
              alt="dotify"
            />
            (Wheter)Weather App - by <a href="https://github.com/katekeiroz-dev" class="has-text-primary">Kate Keiroz © 2025</a> . All rights reserved.
          </p>
        </div>
      </div>
    </footer>